<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AUTO SHOP</title>
</head>


<body>
    <h1>Добро пожаловать в проект по машинам</h1>

    <!-- Описание проекта -->
    <p>Этот проект посвящен миру автомобилей. Здесь вы найдете информацию о различных марках и моделях автомобилей, их характеристики, историю и многое другое. Используйте поиск ниже, чтобы найти интересующую вас информацию:</p>

    <!-- Поле поиска -->
    <form action="search_results.html" method="get">
        <label for="search">Поиск:</label>
        <input type="text" id="search" name="q" placeholder="Поиск по автомобилям">
        <input type="submit" value="Искать">
    </form>

</body>
</html>

